/*

	MAIN COLOR PALLETTE:	RED: 	#DA8C76;
							ORANGE: #DAA976;
							GREEN: 	#549A74;
							BLUE: 	#4C7988;

	http://paletton.com/#uid=70b0q0keCrl4Gtc9rrPmyoWtQo0

*/

html{
	margin: 0px;
	height: 100%;
}

body{
	margin: 0px;
	height: 100%;
}

a{
	color: #000000;
}

input, button{
	border: solid 1px;
	border-color: #000000;
	display: inline-block;
	border-radius: 0px;
	background-color: #E7E7E7;
}

/* LOGIN PAGE */
.loginWrapper{
	/*background-color: #EEEEEE;*/
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	background: linear-gradient(#DAA976, #DEC29C);
}

.regBox{
	margin: 0 auto;
	border: solid 1px;
	height: 280px;
	width: 400px;
	/*background-color: #FFFFFF;*/
	background: linear-gradient(#DA8C76, #DEB39C);
	font-family: Verdana;
	border-radius: 5px;
	border-color: #FF0000;
	padding: 25px;
}

#loginBox{
	margin: 0 auto;
	border: solid 1px;
	height: 175px;
	width: 350px;
	/*background-color: #FFFFFF;*/
	background: linear-gradient(#DA8C76, #DEB39C);
	font-family: Verdana;
	border-radius: 5px;
	border-color: #FF0000;
}

#loginText{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 30px;
	color: #000000;
}

.loginBoxText{
	float: left;
	padding-left: 15px;
}

.loginBoxInput{
	float: right;
	padding-right: 15px;
}

.loginButton{
	width: 100%;
	clear: both;
	text-align: center;
	padding-top: 10px;
}

/* END LOGIN PAGE */

.wrapper{
	background-color: yellow;
	height: 100%;
}

.navigation{
	float: left;
	background-color: #DA8C76;
	/*background-color: #DEB39C;*/
	width: calc(15% - 2px);
	height: 100%;
	color: #FFFFFF;
	font-family: Verdana;
	border-right: solid 2px;
	border-color: #CACACE;
}

.content{
	float: left;
	/*background-color: #DAA976;*/
	width: 85%;
	height: 100%;
	background: linear-gradient(#DAA976, #DEC29C);
}

/*FRAMEWORK MARKUP ENDS HERE*/

/*NAVBAR MARKUP STARTS HERE*/

/*.navHeader{
	font-size: 1.5em;
	text-align: center;
	height: calc(5%);
	width: 100%;
	line-height: 45px;
}*/

.logoBox{	
	border-bottom: solid 2px;
	border-right: solid 2px;
	border-color: #CACACE;
	background-color: #4C7988;
	width: 100%;
	color: #999999;
	height: calc(10% - 2px);
}

#logo{
	display: block;
	margin: auto;
	padding: 10px;
	color: #000000;
	font-size: 2em;
}

#username{
	display: block;
	margin: auto;
	padding: 10px;
	color: #000000;
	float: right;
}

.navBody{
	/*margin: 0 0 35px; /* bottom = footer height */
	/*margin: 0 0 2%; */
 	position: relative;
    width: 100%;
    height: calc(90% - 16px);
    /*background-color: #DA8C76;*/
    background: linear-gradient(#DA8C76, #DEB39C);
    color: #7A7A85;
}

.navFooter{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    background-color: #CACACE;
    width: 15%;
}

#footerSettingsButton{
	float: left;
	width: 50%;
	padding-top: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CACACE;
}

#footerLogoutButton{
	/*float: right;*/
	width: 100%;
	padding-top: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CACACE;
}

.navBody ul{	
	padding: 0px;
	list-style-type: none;
}

.navBody li{
	border: solid 1px;
	border-color: #549A74;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	/*padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;*/
}

.navBody li a{
	display: block;
	color: #252528;
	text-decoration: none;
	padding: 0px;
}

.navBody li a.active{
	background-color: #549A74;
}

.navBody li a:hover:not(.active){
	background-color: #549A74;
}

/*NAVBAR MARKUP ENDS HERE*/


/*CONTENT MARKUP STARTS HERE*/

.contentNav{
	background-color: #DA8C76;
	height: calc(10% - 2px);
	width: 100%;
	border-bottom: solid 2px;
	border-bottom-color: #CACACE;
	color: #3A5171;
}


.pageContent{
	padding: 10px;
}

.automerkPlaatjeKlein{
	width: 150px;
}

.succes{
	background-color: #BBFFBB;
	padding: 5px;
	border-radius: 3px;
	border-color: #000000;
	border: solid 1px;
}

.error{
	background-color: #FFBBBB;
	padding: 5px;
	border-radius: 3px;
	border-color: #000000;
	border: solid 1px;
}

.plaatjeOverzicht{
	width: 150px;
	height: 150px;
}

.plaatjeGroot{
	width: 800px;
}

.plaatjeKlein{
	height: 75px;
}

.friendsTable{
	border-collapse: collapse;
	margin-top: 15px;
	border: solid 1px;
	width: 100%;
}

.friendsTable th, td{
	text-align: left
}

.friendsTable td{
	padding-left: 10px;	
}

.friendsTable tr:nth-child(even){
	background-color: #549A74;
	height: 40px;
}

.friendsTable tr:nth-child(odd){
	background-color: #8CA498;
}

.friendsTable th{
	background-color: #097E5B;
	border-bottom: solid 1px;
	padding: 10px;
}

/*Details page markup start*/

.detailsContainer{
	width: 500px;
	float: left;
	margin-top: 25px;
}

.detailsLeft{
	float: left;
	width: 150px;
}

.detailsRight{
	float: left;
}

.carBox{
	margin: 0 auto;
	border: solid 1px;
	height: 190px;
	width: 290;
	background-color: #FFFFFF;
	font-family: Verdana;
	border-color: #000000;
	float: right;
	margin-right: 25px;
	margin-top: 25px;
	padding: 5px;
}

/*Details page marup end*/

.inputContainer{
	width: 30%;
	float: left;
	margin-top: 25px;
}

.inputLeft{
	padding-top: 5px;
	float: left; 
	clear: left;
}

.inputRight{
	padding-top: 5px;
	float: right; 
	clear: right;
}

.cmsContainer{
	clear: both;
	width: 30%; 
	padding-top: 5px;
}

/*CONTENT MARKUP ENDS HERE*/